.form-container {
  margin-top:10vh;border:1px solid white;padding:30px;width:40%
}
.input-field {
  width:500px;margin-bottom:15px
}
.edit-container {
  margin-top:10vh;border:1px solid white;padding:30px;width:40%
}

.edit-input {
    width:500px;margin-bottom:15px;color:#f8b195
  }
.new_user {
width:40%;
margin-bottom:30px
  }
.login-form {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:100px
}
.form-actions {
  background-color: pink;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    text-align: center;
    padding-top:8px
}
.btn {
  color:white
}
.sign-up {
  color: white;
  background: black;
  width: 120px;
  height: 40px;
  padding-left: 30px;
  padding-top: 8px;
  border-radius: 5px;
}
.sign-up:hover {
  color:white;
  text-decoration:none;
  background:rgb(0, 115, 188)
}
.password {
  color:white
}
.password:hover {
  color:white;
}

@media screen and (max-width: 992px) {
  .form-container {
    width:80%
  }
  .edit-container {
    width:80%
  }

}


@media screen and (max-width: 600px) {
  .form-container {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:20px
  }
  .input-field {
    width:300px
  }
  .edit-container {
    width:100vw;
    margin-left:80px
  }
  .edit-input {
    width:300px;margin-bottom:15px;color:#f8b195
  }
}
