<div class="container chats_div">
  <% @chats.each do |chat| %>
  <div class="list-group">
  <% c = 0 %>
      <button type="button" class="list-group-item list-group-item-action" style="display:flex;justify-content: space-between;align-items:center">
        <%=link_to chat.name, chat_path(chat),class:'chats' , :data => { :ind => chat.id } %>
      </button>
  </div>
  <%end%>
</div>
