
<div class="banner">
  <h1 class="text-center" style="color:white;transform: translate(0px, 185px);text-shadow:1px 0px grey">Beyong your imaginations.</h1>
</div>
<h1 class="text-center" style="margin-bottom:30px;margin-top:30px">On sell products</h1>
<div class="container">
  <div class="row">
    <% @products.each do |p| %>
    <div class="col" style="display:flex;flex-direction:column;margin:10px;">
      <%= link_to show_product_path(p.id) do %>
        <%= cl_image_tag p.photo, height: 300, width: 300%>
      <%end%>
      <div style="width:300px;display:flex;justify-content: space-between;background: white;padding:10px">
        <p><%= link_to p.name, show_product_path(p.id),class:"text-muted" %></p>
        <p class="text-muted"><%= p.price %> rmb</p>
      </div>
      </div>
    <%end%>
    </div>
  </div>
</div>
