@import "rails_bootstrap_forms";
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.banner {
  background-image:url('blue.jpg');
  height:70vh;
  width:100vw;
  background-position:center;
  background-size:cover
}

body {
  background:#f8b500;
  color:white
}

.custom-card {
  background: white;
  align-items: center;
  height: 55vh;
  padding-top: 15px;
  border-radius:5px
}
